#myModal {
  .modal-title {
    color: #444444;
    text-align: left;
    font-size: 1.7em;
    @media screen and (max-width: $screen-desktop){
      font-size: 1.5em;
    }
    @media screen and (max-width: $screen-tablet){
      font-size: 1.2em;
    }
    @media screen and (max-width: $screen-phone){
      font-size: 1em;
    }
  }
  .modal-body {
    p {
      font-size: 1em;
      @media screen and (max-width: $screen-desktop){
        font-size: 1em;
      }
      @media screen and (max-width: $screen-tablet){
        font-size: 1em;
      }
      @media screen and (max-width: $screen-phone){
        font-size: .8em;
      }
    }
    label,
    input {
      font-size: 1em;
      @media screen and (max-width: $screen-desktop){
        font-size: 1em;
      }
      @media screen and (max-width: $screen-tablet){
        font-size: 1em;
      }
      @media screen and (max-width: $screen-phone){
        font-size: .9em;
      }
    }
    input {
      height: 38px;
      &[type="file"] {
        font-size: .7em;
      }
    }
  }
  .modal-footer {
    button.btn {
      font-size: 1em;
      @media screen and (max-width: $screen-desktop){
        font-size: 1em;
      }
      @media screen and (max-width: $screen-tablet){
        font-size: 1em;
      }
      @media screen and (max-width: $screen-phone){
        font-size: .9em;
      }
    }
  }
}